.menu-text {
	color: $white;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 28px;
}

 ul li a {
	color: $white;
}

.side-bar {
	input, label {
		float: left;
	}
	input {
	clear: both;
	}
}

.card {
  display: inline-block;
  position: relative;
  vertical-align: top;
  // width: 20%;
  // min-width: 128px;
  .callout { 
  	box-shadow: 2px 4px 5px 0px #d7d7d7;
  	text-align: center;
  	img {
		border-radius: 50%;
  	}
  }

}


// font-family: 'Sura', serif;
